:root {
    --fontSize-sityDate: 36px;
    --fontSize-temperature: 64px;
    --fontSize-toDayBlokNow: 24px;
}

.weather-toDay {
    max-width: 760px;
    background: rgba(255, 255, 255, 0.05);
    border-radius:5px;
}
.weather-toDay__block-now{
    padding: 15px;
    font-size: var(--fontSize-toDayBlokNow);
    
}

.wrapper-sity-date {
    font-style: normal;
    font-weight: normal;
    font-size: var(--fontSize-sityDate);
    line-height: 42px;
}

.wrapper-sity-date__today-date {
    text-align: right;
    float: right;
    display: inline-block;

}

.wrapper-sity-date__name-sity {
    text-align: left;
    display: inline-block;
}

.weather-now {
    padding-top: 5.5%;
    grid-column: 2/-2;
    margin: 0 auto;
    max-width: 550px;
    display: grid;
    grid-template-columns: repeat( 2, 1fr);
    grid-template-areas:
        'temperature description'
        'temperature feelsLike '
        'wind-humidity-pressure wind-humidity-pressure ';

}

.weather-now__temperature {
    grid-area: temperature;
    display: inline-block;
    height: 60px;
}

.weather-now__temperature > .wrapperImg {
    height: 100%;
    min-width: 27px;
}
.weather-now__temperature > .wrapperImg > img {
    left:36%;
}

.weather-now__temperature > p {
    display: inline-block;
    float: left;
    font-style: normal;
    font-weight: normal;
    font-size: var(--fontSize-temperature);
    line-height: 75px;
}

.weather-now__description {
    grid-area: description;
    display: inline-block;
    float: right;
    line-height: 28px;
}

.weather-now__feelsLike {
    grid-area: feelsLike;
}
.weather-now__wind-humidity-pressure {
    grid-area: wind-humidity-pressure;
    text-align: center;
    line-height: 28px;
    padding-top: 10px;
}

.weather-now__wind,
.weather-now__humidity,
.weather-now__pressure {
    display: inline-block;
}

.weather-now__wind > img,
.weather-now__humidity > img,
.weather-now__pressure > img {
    display: inline-block;
}

.weather-now__wind > p,
.weather-now__humidity > p,
.weather-now__pressure > p {
    display: inline-block;
    float: right;
}

.weather-now__pressure > p {
    padding-left: 5px;
}

.weather-now__wind {
    float: left;
}

.weather-now__pressure {
    float: right;
}

/*.weather-hourly {*/
/*    grid-column-start: 1;*/
/*    grid-column-end: -1;*/
/*    display: grid;*/
/*    grid-template-columns: repeat(8, 1fr);*/
/*    font-size: 24px;*/
/*    line-height: 28px;*/
/*    text-align: center;*/
/*    padding-top: 22px;*/
/*    padding-bottom: 15px;*/
/*    height: 98px;*/
/*    box-sizing: content-box;*/
/*}*/
.weather-day {
    grid-column-start: 1;
    grid-column-end: -1;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    padding-top: 22px;
    padding-bottom: 15px;
    height: 130px;
    box-sizing: content-box;
}

.item {
    height: 100%;

}

.item > div {
    position: relative;
    overflow: hidden;
    height: 50%;
}
.wrapperImg{
    position: relative;
    overflow: hidden;
    height: 50%;
}
.wrapperImg > img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
}

.item > .item__temperature {
}
@media screen and (max-width: 890px) {
    :root{
        --fontSize-temperature:48px;
        --fontSize-sityDate: 28px;
        --fontSize-toDayBlokNow: 20px;
    }
}
@media screen and (max-width: 440px) {
    .weather-now {
        grid-template-columns: repeat( 6, 1fr);
        grid-template-areas:
        '. temperature temperature temperature description  .'
        ' .feelsLike feelsLike feelsLike feelsLike  .'
        '  wind-humidity-pressure wind-humidity-pressure wind-humidity-pressure wind-humidity-pressure wind-humidity-pressure wind-humidity-pressure';

    }
    .weather-now__description {
        padding-top: 12px;
        line-height: 14px;
    }
    .wrapper-sity-date {
        line-height: 24px;
    }
    .weather-now__temperature > p {
        line-height: 60px;
    }
    :root{
        --fontSize-temperature:40px;
        --fontSize-sityDate: 20px;
        --fontSize-toDayBlokNow: 12px;
    }

   }
