.favorites-city-wrapper{
    margin: 0 auto 0;
    grid-column: 2/-2;
    width: 100%;
    max-width: 760px;
}
.favorites-city-wrapper > ul{
    overflow-x: auto;
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
    scrollbar-width: thin;
}
.favorites-city-wrapper > ul > li{
    margin-right: 0.2em;
    display: inline-block;
}
.favorites-city-wrapper > ul > li > a{
    font-size: var(--fontSize-toDayBlokNow);
    padding: 0.5em;
    white-space: nowrap;
    display: inline-block;
    border-radius: 5px;
    text-decoration: none;
    color: #fff;
}

.favorites-city-wrapper > ul > li > a:hover{
    background: rgba(255, 255, 255, 0.15);
}
.favorites-city-wrapper > ul > li > a:active{
    background: rgba(255, 255, 255, 0.25);
}
.favorites-city-wrapper__list >li> a.active{
    background: rgba(255, 255, 255, 0.25);

}