.weather-toDay {
    grid-column-start: 3;
    grid-column-end: -3;
    max-width: 750px;
    background: rgba(255, 255, 255, 0.05);
    border-radius:5px;
}
.weather-toDay__block-now{
    padding: 15px;
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-column-gap: 30px;
    
}

.wrapper-sity-date {
    grid-column: 1/-1;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;
}

.wrapper-sity-date__today-date {
    text-align: right;
    float: right;
    display: inline-block;

}

.wrapper-sity-date__name-sity {
    text-align: left;
    display: inline-block;
    max-width: 75%;
}

.weather-now {
    grid-column: 2/-2;
    margin-top: 42px;
}

.weather-now__temperature {
    display: inline-block;
    height: 60px;
}

.weather-now__temperature > img {
    position: relative;
    top: -14px;
    display: inline-block;
    vertical-align: bottom;
}

.weather-now__temperature > p {
    display: inline-block;
    float: left;
    font-style: normal;
    font-weight: normal;
    font-size: 64px;
    line-height: 75px;
}

.weather-now__description {
    display: inline-block;
    float: right;
    font-size: 24px;
    line-height: 28px;
}

.weather-now__wind-humidity-pressure {
    text-align: center;
    font-size: 24px;
    line-height: 28px;
}

.weather-now__wind,
.weather-now__humidity,
.weather-now__pressure {
    display: inline-block;
}

.weather-now__wind > img,
.weather-now__humidity > img,
.weather-now__pressure > img {
    display: inline-block;
}

.weather-now__wind > p,
.weather-now__humidity > p,
.weather-now__pressure > p {
    display: inline-block;
    float: right;
}

.weather-now__pressure > p {
    padding-left: 5px;
}

.weather-now__wind {
    float: left;
}

.weather-now__pressure {
    float: right;
}

.weather-hourly {
    grid-column-start: 1;
    grid-column-end: -1;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    padding-top: 22px;
    padding-bottom: 15px;
    height: 98px;
    box-sizing: content-box;
}
.weather-day {
    grid-column-start: 1;
    grid-column-end: -1;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    padding-top: 22px;
    padding-bottom: 15px;
    height: 130px;
    box-sizing: content-box;
}

.item {
    height: 100%;

}

.item > div {
    position: relative;
    overflow: hidden;
    height: 50%;
}

.item > div > img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;

}

.item > .item__temperature {
}

@media screen and (max-width: 1120px) {
    .weather-now{
        grid-column: 1/-1;
    }
   }