
.Search--layout {
    grid-column: 2/-2;
    max-width: 810px;
    margin: 17.7% auto 0;
}

.App {
    margin: auto;
    display: grid;
    max-width: 1140px;
    grid-template-columns: repeat(12, 1fr);
    /* grid-column-gap: 30px; */
    grid-template-rows: none;
}

.wrapper_content {
    margin: 14px auto 0;
    grid-column: 2/-2;
    width: 100%;
    max-width: 760px;
}

.background_image {
    height: 100%;
    background-image: url("./image/89653cfdf71072dc356b448a718194c4.jpg");
}

.background_shadow {
    background: linear-gradient(180deg, #000000 7.81%, rgba(255, 255, 255, 0) 100%);
    padding: 20px;
}
@media screen and (max-width: 680px) {
    .wrapper_content{
        grid-column: 1/-1;
    }
    .Search--layout{
        grid-column: 1/-1;
    }
}